@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #2F303A;
    font-family: Poppins, sans-serif;
    color: white;
    overflow: hidden;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: .5rem 7rem;
}

#logo {
    display: flex;
    align-items: center;
}

h1 {
    font-weight: normal;
    margin-left: 1rem;
}

ul {
    display: flex;
}

li {
    margin: 0 1rem;
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    flex-grow: 1;
    height: 100%;
}